<!doctype html>
<html>
<head>    
  <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sample Page</title>
    <!-- <link rel="stylesheet" href="foundation.css" /> -->

    <script src="/magic360/magic360.js" type="text/javascript"></script>
  <link rel="stylesheet" type="text/css" href="/magic360/magic360.css">
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>




</head>
<body>


      <script type="text/javascript">
          $(document).ready(function(){


            $(".comments").hide();
            $("#hidecomments").hide();
            $("#reasonrejected").hide();

            $("#commentbutton").click(function() {
              $(".comments").show();
              $("#hidecomments").show();
              $("#commentbutton").hide();


            });  

             $("#hidecomments").click(function() {
              $(".comments").hide();
              $("#hidecomments").hide();
              $("#commentbutton").show();


            });  

             var button1 = document.getElementById("rejectedbutton")
             var button2 = document.getElementById("approvedbutton")

             if (button1.checked) {
                
                $("#reasonrejected").show();

             } else if (button2.checked) {

               $("#reasonrejected").hide();
             
             } else {

              $("#reasonrejected").hide();
             }



            });

          

          </script>

  <div id='content'>

    <div class="header">

        <a href="https://www.snap36.com"><img src="https://cdn2.hubspot.net/hub/29492/file-705818670-jpg/TradeShows/IR_B2B/landingpagehead.jpg"></a>
      
    </div>

    <div class="navigation">
      
      <a href="/approveditems/0"><div>Approved</div></a>
      <a href="/rejecteditems/0"><div>Rejected</div></a>
      <a href="/notreviewed/0"><div>Not Reviewed</div></a>
      <a href="/gallery"><div>Status</div></a>



    </div>

       <button id='commentbutton'>Show Comments</button>
          <button id='hidecomments'>Hide Comments</button>



   <% @number = params[:splat].first.to_i %>
   <% @complete =  Spin.where(:id => @number..@number+5).order('id ASC') %>



   <% @complete.each do |item|
    next if item == '.' or item == '..' or item == '.DS_Store' %>  

      

   
  <div class='outline'>
    
    
          

        <div class='viewercontainer'>
        <div align='center'> <%= item.name %></div>

          <div id='spinstills'>
                <p>Spins</p>
                 <div class="viewer">
                    <a href="/img/<%= item.name %>/<%= item.name %>-big-01-01.jpg" class="Magic360" data-magic360-options="columns: <%= item.column %>; rows: <%= item.row %>; filename: <%= item.name %>-small-{row}-{col}.jpg"; large-filename: "<%= item.name %>-big-{row}-{col}.jpg;" ><img src="/img/<%= item.name %>/<%= item.name %>-small-01-01.jpg"/></a> 
                    

                 </div> 
                <p>Stills</p>
                 <div class='stills'>

                  <% @stills =  Still.where(:spinname => item.name) %>
                  <% @stills.each do |x| %>

                  <p> <%= x.name %></p>

                  <img src="/stills/<%= item.name %>/<%= x.name %>" height='300' width='300'>

                  <% end %>
                 </div>
             </div>

       

   
        

       
               <div class='decision'>
               <form action="/spins/<%= item.id %>/approval" method="post" name="decision">
                


                  <% if item.approval == "[\"approved\"]"  %>
                  
                  
                  <%= erb :_approvedform %>

                   <% elsif item.approval == nil %>
                   
                  <%= erb :_form %>
               

                    <% else  %>

                     <%=  erb :_rejectedform %>

                    
                    </form>



                   
                
                  <form action='/spins/<%= item.id %>/reason' method='post' name='reason'>
                    
                     <div id='reasonrejected'>
                        <div>Reason for Rejection:</div>
                        <input type="radio" name="reason[]" value="spins"> Spins<br>
                        <input type="radio" name="reason[]" value="stills"> Stills<br>
                        <input type="radio" name="reason[]" value="both"> Both<br>
                        <input type="submit" value="Submit">
                    </div>
                  </form>

                <% end %>

                 </div> 

           </div>

          
            
        </div>

        <form action="/spins/<%= item.id %>/comments" method="post" name="comments" id='comments'>
          <div class='comments'>
            <div>
            <div>Comments for <%= item.name %></div>
            
           <textarea rows="10" name="comment" id="comment" placeholder="Comment"></textarea>
          </div>



          
          <input type='submit'  value='Add Comment'>
           </form>

           <div id='comment-box' >
             <% @count = 1  %>

            <% @ment = Comment.where(:spinid => item.id)  %>
           

      
            <% @ment.each do |x| %>



            <text><%= @count %>:<%= x.text %></text>

             <% @count += 1  %>

            <% end %>



          </div>





                     
          </div>
        

      
        
     
      

         
       

 <% end %>


</div>





      


      





    

  <!-- -->
  <div class='direction'>
     <% if params[:splat].first.to_i <= 0 %>

      <a href="/spins/<%= @number + 6 %>" class="btn">Next</a>

      <% elsif params[:splat].first.to_i >= @spins-5 %>

      <a href="/spins/<%= @number - 6 %>" class="btn">Previous</a>

      <% else %>
      <a href="/spins/<%= @number - 6 %>" class="btn">Previous</a>
      <a href="/spins/<%= @number + 6 %>" class="btn" id='next'>Next</a>
      
    <% end %>

    </div>

     
     
    <div class="footer">

        <img src="https://cdn2.hubspot.net/hub/29492/file-704215607-png/Banners/WeGetAround.png?t=1407167395510">
      
    </div>

  </div>

  

</body>
</html>
